<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tsuyu6">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_tsuyu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_tsuyu_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.main">

        <activity
            android:name=".Saving"
            android:exported="false"
            android:theme="@style/saving" />
        <activity
            android:name=".TargetSetting"
            android:exported="false"
            android:theme="@style/saving"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FuFix"
            android:exported="false"
            android:theme="@style/future"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FuInput"
            android:exported="false"
            android:theme="@style/future"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FuLook"
            android:exported="false"
            android:theme="@style/future" />
        <activity
            android:name=".Fix"
            android:exported="false"
            android:theme="@style/currently"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Input"
            android:exported="false"
            android:theme="@style/currently"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Look"
            android:exported="false"
            android:theme="@style/currently"/>
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>